In [1]:
def test1():
    a = 5+6
    return a

In [3]:
test1()

11

In [4]:
def test2(a,b):
    return a+b

In [5]:
test2(1,2)

3

In [6]:
test2("sawan","kumar")

'sawankumar'

In [7]:
test2(b="teja", a="ravi")  # if we dont want to follow orders

'raviteja'

# if we dont know how many inputs we have to give in function

In [9]:
# Let say if we got questions to create function which will take any no. of input and it will return all the no. as list

def test3(*args):    # (*) means all. args means arguments. So we can pass any no, of arguments and then returning all
    return args

In [10]:
test3(1,2,3,4,"yadav")   # it give results in tuples

(1, 2, 3, 4, 'yadav')

In [11]:
type(test3(1,2,3,4,"yadav"))   # it means type of args is tuple

tuple

In [12]:
test3([1,2,3,4,5] , "sudh" , "ineuron" , 5+7j, (4,5,6))

([1, 2, 3, 4, 5], 'sudh', 'ineuron', (5+7j), (4, 5, 6))

In [13]:
def test4(*args):
    return list(args)

In [15]:
test4("sudh" , True , 8+7j , 34, 34.56)

['sudh', True, (8+7j), 34, 34.56]

In [16]:
def test5(*args) :
        l = []
        for i in args : 
            l.append(i)
        return l

In [17]:
test5(45,75,96)

[45, 75, 96]

# args is not a reserved word instead we can use anything as variable name

In [18]:
def test6(*sawan):
    return list(sawan)

In [19]:
test6(75,5796,6974)

[75, 5796, 6974]

In [20]:
l = [1,2,3,4,5,6]
t = (4,5,6, 8+7j)
s = {3,4,5,6 , 6 , 5,6,6,6,6,6}

In [21]:
l

[1, 2, 3, 4, 5, 6]

In [22]:
s

{3, 4, 5, 6}

In [23]:
s  # it is set which remove all the duplicate elements

{3, 4, 5, 6}

# Dictionary

In [28]:
d1 = {}  # when curly brackets are empty then python will treat this as dictionary datatype

In [29]:
type(d1)

dict

In [30]:
d1= {1,5,3,6,7}  # when we have flat data without key value then python treat this as set datatype

In [31]:
type(d1)

set

In [32]:
d2 = {"key1": "sawan", "key2": [1,3,5,3]}

In [33]:
d2

{'key1': 'sawan', 'key2': [1, 3, 5, 3]}

In [34]:
d3= {1413423: "sawan"}

In [35]:
d3

{1413423: 'sawan'}

In [36]:
d4= {&: 12133}  # symbols cannot be key

SyntaxError: invalid syntax (3617227354.py, line 1)

In [37]:
d5 = {[1,2,3,4] : "sudh"}  # List cannot be a key

TypeError: unhashable type: 'list'

In [39]:
d6 = {(1,2,3,4,5) : "sudh"}  # But tuple can be a key

In [15]:
# If we will give key with same name then whatever the latest value (after compiling till last) the key has it will print

d7 = { "name " : "sawan" , "org" : "ineuron" , "mail id " : "sudhanshu@ineuron.ai" , "name" : "sk"}

In [16]:
d7  # But here we are getting both name in the result, the twist is first name is have space after 'name ' but other does 
    # not have space so python treating both as different key

{'name ': 'sawan',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'name': 'sk'}

In [8]:
d8 = { "name" : "sawan" , "org" : "ineuron" , "mail id " : "sudhanshu@ineuron.ai" , "name" : "sk"}

In [47]:
d8

{'name': 'sk', 'org': 'ineuron', 'mail id ': 'sudhanshu@ineuron.ai'}

In [48]:
d9 = {"name": "sudh" , "mentor" : {"fsds": "imran" , "fsda":"anand" , "bigdata" : "shashank" }}  # dictionary inside dictionary

In [49]:
d9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [50]:
d7

{'name ': 'sawan',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'name': 'sk'}

In [53]:
d7["mail id "]  # hear mistakenly I had taken key as "mail id "  with space so result comign after space in key

'sudhanshu@ineuron.ai'

In [54]:
d7[2]  # 2 is not key of diction here

KeyError: 2

In [56]:
d9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [57]:
d9["mentor"]

{'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}

In [58]:
d9["mentor"]["bigdata"]

'shashank'

In [59]:
d7

{'name ': 'sawan',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'name': 'sk'}

In [61]:
list(d7.keys())

['name ', 'org', 'mail id ', 'name']

In [62]:
d7.values()

dict_values(['sawan', 'ineuron', 'sudhanshu@ineuron.ai', 'sk'])

In [63]:
d7.items()  # it will give all the items of key value pair

dict_items([('name ', 'sawan'), ('org', 'ineuron'), ('mail id ', 'sudhanshu@ineuron.ai'), ('name', 'sk')])

In [64]:
d9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [66]:
list(d9["mentor"].values())

['imran', 'anand', 'shashank']

In [74]:
# if we have many value of many key which are dictionary then we need to use loop


l = []
for i in d9.keys():
    if type(d9[i]) == dict:
        l.append(list(d9[i].values()))

In [75]:
l

[['imran', 'anand', 'shashank']]

In [1]:
d10 = {'name': 'sudh','mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'} , "mail_id" : {"imran" : "imran@ineiuron.ai" , "anand" : "anand@ineuron.ai" , "shashank" : "shashank@ineuron.ai"}}

In [84]:
l2 = []
for i in d10.keys():
    if type(d10[i]) == dict:
        l2.append(list(d10[i].values()))

In [85]:
l2

[['imran', 'anand', 'shashank'],
 ['imran@ineiuron.ai', 'anand@ineuron.ai', 'shashank@ineuron.ai']]

In [5]:
def test9(d): 
        l = []
        for i in d.keys():
            if type(d[i]) == dict : 
                l.append(list(d[i].values()))
        return l

In [6]:
test9(d10)

[['imran', 'anand', 'shashank'],
 ['imran@ineiuron.ai', 'anand@ineuron.ai', 'shashank@ineuron.ai']]

In [9]:
d8

{'name': 'sk', 'org': 'ineuron', 'mail id ': 'sudhanshu@ineuron.ai'}

In [10]:
d8["mobilenumber"] = (446545,55775,58843)  # add new key value pair

In [11]:
d8

{'name': 'sk',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'mobilenumber': (446545, 55775, 58843)}

In [12]:
d8["name"] = "sk yadav"  # for updating any colunm or value of any dictionary

In [13]:
d8

{'name': 'sk yadav',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'mobilenumber': (446545, 55775, 58843)}

In [17]:
d7

{'name ': 'sawan',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'name': 'sk'}

In [18]:
del d7

In [19]:
d7  # getting error as d7 is deleted

NameError: name 'd7' is not defined

In [20]:
# deleting specific one

d8

{'name': 'sk yadav',
 'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'mobilenumber': (446545, 55775, 58843)}

In [21]:
del d8["name"]

In [22]:
d8

{'org': 'ineuron',
 'mail id ': 'sudhanshu@ineuron.ai',
 'mobilenumber': (446545, 55775, 58843)}

In [23]:
d8.pop("org")  # pop the items with the keys

'ineuron'

In [24]:
d8

{'mail id ': 'sudhanshu@ineuron.ai', 'mobilenumber': (446545, 55775, 58843)}

# we cannot delete value along as key values be in pair

In [25]:
def test10(**kwargs):   # it is a key value pair arguments which take any no. of input in dictionary form
    return kwargs

In [27]:
test10(1,2,3,4)  # it will not work as **kwargs need key value pair

TypeError: test10() takes 0 positional arguments but 4 were given

In [26]:
test10(a = 4,b = 5,c = 6,sudh = [12,3,3,4,5])

{'a': 4, 'b': 5, 'c': 6, 'sudh': [12, 3, 3, 4, 5]}

In [28]:
def test11(**sawan):
    return sawan

In [29]:
test11(b  = "sudh" , m = 23423 )

{'b': 'sudh', 'm': 23423}

In [1]:
def test12(a) : 
    return a 

def test13(b):
    return b 

def test14(func):   # --> it is taking fanction as parameter and then returing the function with value in it
    return func("sudh")

In [3]:
test14(test12)

'sudh'

In [4]:
test14(test13)

'sudh'

In [5]:
def test12(a) : 
    return a 

def test13():
    return "sudh" 

def test14(func):
    return func("sudh")

In [6]:
test14(test12)

'sudh'

In [7]:
test14(test13) #-->test13 does not have any parameter in call function but still we are giving so getting error

TypeError: test13() takes 0 positional arguments but 1 was given

In [19]:
def test12(a) : 
    return a 

def test13(*args):
    print("this is test 13 return") 

def test14(func):
    return func("sudh")

In [9]:
test14(test12)

'sudh'

In [10]:
test14(test13)

'sudh'

In [11]:
def test15() :    # Using function inside function
    print("this is my test15") 
    
    def test16() :
        print("thius is my test16") 
    
    def test17():
        print("this is my test17")

In [12]:
test15()

this is my test15

In [13]:
test15().test16()  # We can not call test() like this

this is my test15

AttributeError: 'NoneType' object has no attribute 'test16'

In [14]:
def test15(a) : 
    print("this is my test15") 
    
    def test16() :
        print("thius is my test16") 
    
    def test17():
        print("this is my test17")
        
    if a == "sudh":
        return test16()
    elif a == "kumar" :
        return test17()

In [15]:
test15("sudh")

this is my test15
thius is my test16

In [16]:
test15("kumar")

this is my test15
this is my test17

In [20]:
def test18(func) : 
    def test19():   # we can not call test19 directly
        print("i am inside test19") 
        func()
    return test19()

In [21]:
test18(test13)

i am inside test19
this is test 13 return

In [22]:
def test18(func) : 
    def test19():   # we can not call test19 directly
        print("i am inside test19") 
#         func()
    return test19()

In [23]:
test18(test13)

i am inside test19

In [24]:
def test18() : 
    def test19():   # we can not call test19 directly
        print("i am inside test19") 
    return test19()

In [26]:
test18()

i am inside test19

In [25]:
test18(test13)

TypeError: test18() takes 0 positional arguments but 1 was given

## Decorater 

```
By using the above 2, 3 concepts
```

In [37]:
def test18(func) : 
    def test19():   # we can not call test19 directly
        print("i am inside test19 and this will behave a decorator to any function that i am going to call") # So now my problem statement is 
        func()                                                                                               # if we will create any function then this comment of test19() should always print.
    return test19  # Here I chaged test19() to test19 then test21 worked

In [28]:
def test20():
    print("this is test20")

In [29]:
test20()

this is test20

In [30]:
test18(test20)  # I want like this but is not the correct way of decorator

i am inside test19 and this will behave a decorator to any function that i am going to call
this is test20

In [38]:
# This is the correct of using decorator

@test18     # @ --> it is called pie and it is our decorator for function
def test21():
    print("this is test21")

In [39]:
test21()

i am inside test19 and this will behave a decorator to any function that i am going to call
this is test21

In [40]:
pwd()

'E:\\Sawan folder e drive\\FSDS\\Python'

In [47]:
# to get the directory

import os 
def test181(func) : 
    def test191():
        print("i am inside test19 and this will behave a decorator to any function that i am going to call ")
        print(os.getcwd())
        func()
    return test191

In [48]:
@test18     # @ --> it is called pie and it is our decorator for function
def test22():
    print("this is test21")

In [49]:
test22()

i am inside test19 and this will behave a decorator to any function that i am going to call
E:\Sawan folder e drive\FSDS\Python
this is test21

In [50]:
def test20(func):
    def test21():
        func()
        print(os.getcwd())
    return test21

In [55]:
@test181  # using multiple decorator
@test20
def test22():
    print("This is test22")

In [56]:
test22()

i am inside test19 and this will behave a decorator to any function that i am going to call
E:\Sawan folder e drive\FSDS\Python
This is test22
E:\Sawan folder e drive\FSDS\Python

In [58]:
# to check exxecution time of program

import time

start = time.time()
print("hello")
end = time.time()
test22()
print(end - start)

hello
i am inside test19 and this will behave a decorator to any function that i am going to call
E:\Sawan folder e drive\FSDS\Python
This is test22
E:\Sawan folder e drive\FSDS\Python
0.0

In [59]:
time.time()

1704847428.147728

In [60]:
def test25(func):
    def test26():
        print("this will give you execution time of function")
        start = time.time()
        func()
        end = time.time()
        print(start-end)
    return test26

In [65]:
def test27():
    l = [4,5,6,7,8,8]
    l1 = []
    for i in l :
        if type(i) == int :
            l1.append(i)
    return l1

In [66]:
test27()

[4, 5, 6, 7, 8, 8]

In [67]:
"""
    this is a functin whichi will take a decorator for calculating a executation timeing of a functioin 
    """
@test25
def test27():
    """
    this is a functin whichi will take a decorator for calculating a executation timeing of a functioin
    """
    l = [4,5,6,7,8,8]
    l1 = []
    for i in l :
        if type(i) == int :
            l1.append(i)
    return l1

In [68]:
test27()

this will give you execution time of function
0.0