# Nested List

In [1]:
A = [[1,2,3],[44,65,32],[55,23,65]]

A

[[1, 2, 3], [44, 65, 32], [55, 23, 65]]

In [2]:
A[0]

[1, 2, 3]

In [3]:
A[1]

[44, 65, 32]

In [4]:
A[1][1]

65

In [5]:
B = [[1,2,3],[44,65,[32,800]],[55,23,65]]

B[1][2]

[32, 800]

In [6]:
B[1][2][1]

800

In [7]:
C = [[1,2,3],[44,65,[32,800]],[55,[23,"Hii"],65]]

C[2][1][1]

'Hii'

In [8]:
C[-1][1][-1]

'Hii'

In [11]:
amazon_cart = [["watch",5000],["phone",1000],["laptop",100000]]

total_cost = amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]

print(total_cost)

106000

In [12]:
total_cost1 = 0

for i in range(len(amazon_cart)):
    total_cost1 +=amazon_cart[i][1]
    
print(total_cost1)

106000

In [16]:
total_cost1 = 0

for item in amazon_cart:
    print(item[1])
    total_cost1 +=item[1]
    
print("\n",total_cost1)

5000
1000
100000

 106000

In [18]:
total_cost1 = 0

print(f"cart is empty  = {total_cost1}")

for item in amazon_cart:
    print(item[1])
    total_cost1 +=item[1]
    print(f"Cart after adding {item[0]}  : {total_cost}")
    
print(f"total cost : {total_cost}")

cart is empty  = 0
5000
Cart after adding watch  : 106000
1000
Cart after adding phone  : 106000
100000
Cart after adding laptop  : 106000
total cost : 106000

# List comprehension

In [19]:
# list which contain list of square no. between 1 to 10

A = [1,2,3,4,5,6]

ans = [1,4,9,16,25,36,...]

In [22]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for i in A:
    print(i**2)
    ans.append(i**2)
    
ans

1
4
9
16
25
36
49
64
81
100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
ans1 = [i**2 for i in A]

print(ans1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# only take the square of odd no. in list A

A = [1,2,3,4,5,6,7,8,9,10]

ans1 = [i**2 for i in A if i%2!=0]

ans1

[1, 9, 25, 49, 81]

In [2]:
# or
A = [1,2,3,4,5,6,7,8,9,10]

ans1 = list()

for i in A:
    if i%2 !=0:
        print(i**2)
        ans1.append(i**1)
        
print(ans1)

1
9
25
49
81
[1, 3, 5, 7, 9]

# Count

In [4]:
A  = [1,3,1,3,4,2,3,4,2,3,4]

A.count(1)

2

In [5]:
A.count(3)

4

In [7]:
A.count(500)

0

In [10]:
A  = [1,3,1,3,4,2,3,4,2,3,4,[1,1],[4,4]]

A.count([4,4])

1

In [11]:
A.count(7)

0

In [12]:
A[-1].count(4) # it is counting 4 in the last element of the list

2

In [14]:
for i in A:
    print(i, A.count(i))

1 2
3 4
1 2
3 4
4 3
2 2
3 4
4 3
2 2
3 4
4 3
[1, 1] 1
[4, 4] 1

In [18]:
A = ["Sawan","sawan", "kumar", "Yadav"]

for i in A:
    print(i, A.count(i))   # Python is case sensitive

Sawan 1
sawan 1
kumar 1
Yadav 1

# Extend

In [19]:
A = [1,2,3]

B = [23,54,65]

A+B  # no permanent change

[1, 2, 3, 23, 54, 65]

In [20]:
A

[1, 2, 3]

In [22]:
A.extend(B)  # it gives permanent changes

A

[1, 2, 3, 23, 54, 65, 23, 54, 65]

In [23]:
A

[1, 2, 3, 23, 54, 65, 23, 54, 65]

In [24]:
A.append(B) # Append add the element at last but extend extends 
#list

In [25]:
A

[1, 2, 3, 23, 54, 65, 23, 54, 65, [23, 54, 65]]

In [26]:
A.pop(-1)  # last element removed permanently

[23, 54, 65]

In [27]:
A

[1, 2, 3, 23, 54, 65, 23, 54, 65]

# Index method

In [28]:
A = [11,3,45,"sawan",1+2j]

A.index(11)

0

In [29]:
A.index("sawan")

3

In [36]:
# print the list of all the complex no.

for i in A:
    if type(i) == complex:  #int for integer, str for string
        print(A.index(i))
        
for i in A:
    print(f"element {i} type is {type(i)}")

4
element 11 type is <class 'int'>
element 3 type is <class 'int'>
element 45 type is <class 'int'>
element sawan type is <class 'str'>
element (1+2j) type is <class 'complex'>

In [39]:
# one more way to check type of elemet in the list

for i in A:
    if isinstance(i, complex):  #standard approach
        print(A.index(i))

4

## isintance() method

In [40]:
for i in A:
    if isinstance(i, complex):  #standard approach
        print(A.index(i))

4

In [44]:
# print the index of all the complex and integer

for i in A:
    if isinstance(i, complex) or (i, int):  # here and condition is not applied here
        print(f"{i} has index value {A.index(i)}")

11 has index value 0
3 has index value 1
45 has index value 2
sawan has index value 3
(1+2j) has index value 4

In [46]:
# or

for i in A:
    if isinstance(i, (complex, int)): # standard or pythonic way
        print(f"{i} has index value {A.index(i)}")

11 has index value 0
3 has index value 1
45 has index value 2
(1+2j) has index value 4

In [50]:
ans1 = [i for i in A if isinstance(i, (complex, int))]

ans1

[11, 3, 45, (1+2j)]

In [52]:
ans1 = [A.index(i) for i in A if isinstance(i, (complex, int))]

ans1

[0, 1, 2, 4]

In [53]:
A = [11,3,3,45,"sawan",1+2j,4,3,3]  #incase of duplicate element index only gives first element index value

A.index(3)

1

In [54]:
A = [11,"Abhishek",3,3,45,"sawan",1+2j,4,3,3]   #duplicate element issue

A.index(3)

2

# insert

In [64]:
A = [1,2,4,5]

A.append(99)

A

[1, 2, 4, 5, 99]

In [65]:
A.insert(2, "Sawan")

A

[1, 2, 'Sawan', 4, 5, 99]

In [66]:
A.insert(2000, "kumar")

A

[1, 2, 'Sawan', 4, 5, 99, 'kumar']

In [67]:
len(A)   # element adding at 2000th inex but lenght of list is not more than 2000 because python just adding 2000 element insert
# at last position

7

In [72]:
A[2000]

IndexError: list index out of range

In [71]:
A.index("kumar")

7

In [68]:
A.insert(-2000, "Sawan")

In [70]:
A  # same reason as above

['Sawan', 1, 2, 'Sawan', 4, 5, 99, 'kumar']

In [73]:
A.insert(2, [2,4,67])

In [74]:
A

['Sawan', 1, [2, 4, 67], 2, 'Sawan', 4, 5, 99, 'kumar']

# remove

In [75]:
A = [1,2,4,4,5,6,67,6]

A.remove(67)  # it will remove first occurance of value - means if we have duplicate value then it will remove first value

In [76]:
A

[1, 2, 4, 4, 5, 6, 6]

In [77]:
A.remove(4)

In [78]:
A  # it will remove first occurance of value - means if we have duplicate value then it will remove first value

[1, 2, 4, 5, 6, 6]

In [79]:
A.remove(100)

ValueError: list.remove(x): x not in list

In [80]:
A.pop(-1)  #need to give index for removing but in remove method we need to give value

6

In [81]:
A

[1, 2, 4, 5, 6]