In [1]:
my_list = [1,2,3]

my_list

[1, 2, 3]

In [4]:
my_list1 = ['first', 2.89, 89,True ]

my_list1

['first', 2.89, 89, True]

In [6]:
len(my_list1)

4

In [12]:
print(my_list1[0])
print(my_list1[3])

first
True

In [13]:
type(my_list1)

list

In [14]:
for i in my_list1:
    print(i)

first
2.89
89
True

In [17]:
#indexing an slicing

print(my_list1)
print(my_list1[1:])

['first', 2.89, 89, True]
[2.89, 89, True]

In [18]:
print(my_list1[:3]) #it exclude the last element so it will print till 2nd index

['first', 2.89, 89]

In [20]:
#negative indexing

print(my_list1[-2])
print(my_list1[:-2])

89
['first', 2.89]

In [21]:
print(my_list1[2::3])

[89]

In [22]:
for i in range(len(my_list1)):
  print(f"i={i}, value={my_list1[i]}, datatype={type(my_list1[i])}")

i=0, value=first, datatype=<class 'str'>
i=1, value=2.89, datatype=<class 'float'>
i=2, value=89, datatype=<class 'int'>
i=3, value=True, datatype=<class 'bool'>

In [23]:
del(my_list)

In [24]:
my_list

NameError: name 'my_list' is not defined

In [25]:
my_list1

['first', 2.89, 89, True]

In [29]:
my_list1[0::2]  
#first is start index, middle is end index (as nothing mentioned means go till end) last is step we 
#will take

['first', 89]

In [34]:
for i in range(0,3,2):
    print(i, my_list1[i])

0 first
2 89

In [35]:
my_list1[::-1]

[True, 89, 2.89, 'first']

In [36]:
my_list1[::-2]

[True, 2.89]

In [37]:
for i in range(0, len(my_list1), 2):
    print(i, my_list1[i])

0 first
2 89

In [38]:
my_list1

['first', 2.89, 89, True]

In [40]:
my_list1[-4:-3]

['first']

In [44]:
for i in range(-1, -len(my_list1)-1, -1): # here extra -1 adding in lenth of list for printing whole list
    print(i, my_list1[i])

-1 True
-2 89
-3 2.89
-4 first

In [47]:
for i in [2,3]:  #here is it just taking i = 2 and finding my_list1[2] value and same for 3
  print(i, my_list1[i])

2 89
3 True

Updating list element at specific index

In [50]:
my_list1[2] = 6
print(f"New value at index 5: {my_list1[2]} ")

New value at index 5: 6

In [51]:
my_list1

['first', 2.89, 6, True]

In [58]:
my_list1 + [100, 2.77] #we can concatenate two list by + sign same like string

['first', 2.89, 6, True, 'name', 2.77, 100, 2.77]

In [60]:
my_list1  # result defines that there is no change in list it is concatenating

['first', 2.89, 6, True, 'name', 2.77]

In [61]:
my_list1 = my_list1 + [100, 2.77]  # for change need to assign in that list again

In [62]:
my_list1

['first', 2.89, 6, True, 'name', 2.77, 100, 2.77]

In [63]:
my_list1[3] = 3.99

In [64]:
my_list1  # Means mutable or change of value is allowed

['first', 2.89, 6, 3.99, 'name', 2.77, 100, 2.77]

In [66]:
my_list1[-4] = 'change'

In [67]:
my_list1

['first', 2.89, 6, 3.99, 'change', 2.77, 100, 2.77]

In [68]:
#we can add two list like concatenate but can not subtract 

my_list2 = [2,4,56,554]

In [70]:
my_list1 - my_list2  # not supported to subtract

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [71]:
## Repetion of list

my_list2 * 2 # if we try to mutiply list with ny number then that list will print all the value of list n times
#but can't divide with n
# can't divide any list with other list like my_list1/my_list2 not supported

[2, 4, 56, 554, 2, 4, 56, 554]

In [72]:
my_list2

[2, 4, 56, 554]

In [73]:
my_list2 * (-1)  # it is just removing all the value even if it is any negative no. value will be null

[]

In [74]:
my_list2

[2, 4, 56, 554]

Basic List Methods
If you are familiar with another programming language, start to draw parallels between lists in Python and arrays in other language. There are two reasons which tells why the lists in Python are more flexible than arrays in other programming language:

a. They have no fixed size (which means we need not to specify how big the list will be)

b. They have no fixed type constraint

Let's go ahead and explore some more special methods for lists:

In [75]:
len(my_list1)  #already know it finds length of list

8

In [76]:
#Empty list

my_list = [] # NOT RECOMMEDED

len(my_list)

0

In [77]:
my_list = list() # RECOMMEDED

len(my_list)

0

In [ ]:
#how to create empty list 

A = list()

In [78]:
list_of_items = list()

for N in range(4):
    items = input("enter items you want to add")
    list_of_items = list_of_items + [items]
    
print(list_of_items)

enter items you want to addPen
enter items you want to addPencil
enter items you want to addbag
enter items you want to addlunch box
['Pen', 'Pencil', 'bag', 'lunch box']

In [79]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  i = i + 1
  
print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: fruit
Enter the item that you want to purchase: blub
Enter the item that you want to purchase: dog
['fruit', 'blub', 'dog']

In [80]:
[1,2] + [34] # if first is list then for adding in list [] is used with no.

[1, 2, 34]

In [81]:
list_of_item_to_purchase = list() # empty list

N = int(input("No of item you want to purchase: "))
i = 0
while i < N:
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
  i = i + 1
  print(f"current i: {i}=> Current list: {list_of_item_to_purchase}")

  
print(list_of_item_to_purchase)

No of item you want to purchase: 2
Enter the item that you want to purchase: blub
current i: 1=> Current list: ['blub']
Enter the item that you want to purchase: 4
current i: 2=> Current list: ['blub', '4']
['blub', '4']

Check membership in a list

In [82]:
# check if 5 exists in list l
5 in l

NameError: name 'l' is not defined

In [83]:
my_list1

['first', 2.89, 6, 3.99, 'change', 2.77, 100, 2.77]

In [84]:
'first' in my_list1

True

In [85]:
'fIRST' in my_list1  # it false because list is check case sensitive data

False

In [86]:
if "Phone cover" in my_list1:
  print("YES")
else:
  print("NO, adding into the list")
  my_list1 = my_list1 + ["Phone cover"]

NO, adding into the list

In [87]:
my_list1

['first', 2.89, 6, 3.99, 'change', 2.77, 100, 2.77, 'Phone cover']

In [88]:
if "Phone cover" in my_list1:
  print("YES")
else:
  print("NO, adding into the list")
  my_list1 = my_list1 + ["Phone cover"]

YES

In [89]:
if "Milk" not in my_list1:
  print("NO, adding into the list")
  my_list1 = my_list1 + ["Milk"]
my_list1

NO, adding into the list

['first', 2.89, 6, 3.99, 'change', 2.77, 100, 2.77, 'Phone cover', 'Milk']

In [90]:
n = input("enter new item")

if n not in my_list1:
    print(f"{n} is not in list, hence adding")
    my_list1 = my_list1 + [n]
my_list1

enter new itemroket
roket is not in list, hence adding

['first',
 2.89,
 6,
 3.99,
 'change',
 2.77,
 100,
 2.77,
 'Phone cover',
 'Milk',
 'roket']

max()
We can find max value from a given list

In [91]:
list1 = ["ink","blub","swtich"]
list2 = [1,2,5,76]

print(max(list1))  #here in string value it check ASCII code value of first letter word of string. Whoever will
#have high ASCII code will be maximum
print(max(list2))

swtich
76

ASCII code value link: http://sticksandstones.kstrom.com/appen.html

In [92]:
list3 = ["a","b","A","B"] 
max(list3)

'b'

In [94]:
# min() function

string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie", "Doctor"]

min(string_example)

'Doctor'

In [ ]:
# print the name with highest no of character -

max_len = 0
result = ""
for example in string_example:
  print(example, len(example))
  if len(example) > max_len:
    max_len = len(example)
    result = example

print(f"RESULT: max_len: {max_len} name: {result}")

In [95]:
A = ["ABhi", "abhi", "rajat", "raju"]

max_len = 0
result = ""

for n in A:
    print(n, len(n))
    if len(n) > max_len:
        max_len += len(n)
        result = n
    
print(f"max lenth is {max_len} for {result} ")

ABhi 4
abhi 4
rajat 5
raju 4
max lenth is 9 for rajat

In [96]:
string_example = ["b", "a", "d", "c", "D", 1, 2]

max(string_example)  #can't include integer and string for max or min function but lenth can do
                    # but integer and float can be campare as max

TypeError: '>' not supported between instances of 'int' and 'str'

In [97]:
example = [1, 2, 99.0]

max(example)

99.0

In [98]:
example = [1, 2, 99.0, 1000, -500]

min(example)

-500

In [99]:
example = [1, 2, 1.0, 2.0, -1, -2]

max(example)

2

In [101]:
example = [1, 2, 99.0, 1+5j]

max(example)
# complex and float also can nto be added

TypeError: '>' not supported between instances of 'complex' and 'float'

In [102]:
example = [1, 2, 99.0, 1000, -500, 200*20]

max(example)

4000

In [103]:
# In python 3, you can't find max with different data-types in a list
print(max([1,2,"ineuron"]))

TypeError: '>' not supported between instances of 'str' and 'int'

There is another list() method which will helpful to convert tuple into list, which we will look when we will talk about tuple section. Just giving a brief idea, tuple is similar to list but tuple are unmutable means we can't change value of elements and they can define using () bracket. We will look into this in future topics

# Append