# sets
## >>unordered collection of unique elements
## >> mutable in nature

In [1]:
x = {1,2,4,5,6}

type(x)

set

In [3]:
x = {1,2,4,5,6,6,6}

x  # as sets only take unique elements

{1, 2, 4, 5, 6}

In [4]:
x = set()  #for empty sets initialization

In [5]:
type(x)

set

In [8]:
# but why not this way

x = {}  # not recommended

type(x)  # as it empty curly brackets make the variable dictionary

dict

In [10]:
t = tuple()

type(t)

tuple

# Operations of sets

In [15]:
x = {4,5,6,1,2}

x[0]   #sets elements are unordered thats why not allowed

TypeError: 'set' object is not subscriptable

In [16]:
x  # it sorts the set automatically

{1, 2, 4, 5, 6}

In [17]:
x = {4,5,6,1,2, "Sawan"}

x

{1, 2, 4, 5, 6, 'Sawan'}

In [18]:
x.append(99)  # not allowed

AttributeError: 'set' object has no attribute 'append'

In [19]:
x.add(99)

In [20]:
x  # here it is keeping all interger one side

{1, 2, 4, 5, 6, 99, 'Sawan'}

In [25]:
x.add(2+4j)

x  # it adding complex no. first place

{(2+4j), 1, 2, 4, 5, 6, 99, 'Sawan'}

In [27]:
x.add(-1)

x  # adding -ve n, before +ve no.

{(2+4j), -1, 1, 2, 4, 5, 6, 99, 'Sawan'}

In [29]:
x.add(6.87)

x  # it is keeping no. as in order

{(2+4j), -1, 1, 2, 4, 5, 6, 6.87, 99, 'Sawan'}

In [32]:
x.remove(99)

x

{(2+4j), 1, 2, 4, 5, 6, 6.87, 'Sawan'}

In [35]:
x.add(-1)

x

{(2+4j), -1, 1, 2, 4, 5, 6, 6.87, 'Sawan'}

In [38]:
# x.remove(-1)

x  # first x.remove(-1) without comment then it gave error but after making it comment it appears that -1 is removed 

# one exception

{(2+4j), 1, 2, 4, 5, 6, 6.87, 'Sawan'}

In [21]:
A = {22,11,43}

x + A  # not allowed +

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [22]:
#  return all the unique value from the list

A = [1,3,3,3,5,5,6,6,6]

A = set(A)

A

# A = list(set(A)) # convert list into sets for unique and then again into list for return value

{1, 3, 5, 6}

In [23]:
A = list(A)

In [24]:
A

[1, 3, 5, 6]