#  tuples

## expressed in small brackets -> ()
## tuples are immutable (no changable)

In [1]:
A = (1,2,3)

type(A)

tuple

In [2]:
A[0]

1

In [3]:
A[-1]

3

In [4]:
A[-1] = 22  # as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [9]:
A = (22, 65, 33)

A.sort()  # as index cannot be changed

AttributeError: 'tuple' object has no attribute 'sort'

In [10]:
sorted(A)  # it first converts in list then sort the list and sorted is not permanent change

[22, 33, 65]

In [12]:
A = sorted(A)   # it is changing tuple to list after sorting

In [13]:
A

[22, 33, 65]

In [14]:
A = (22, 65, 33)

len(A)

3

In [15]:
A*2

(22, 65, 33, 22, 65, 33)

In [16]:
A

(22, 65, 33)

In [17]:
A**2 # not allowed

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [18]:
max(A)

65

In [19]:
A.index(65)

1

In [20]:
A.count(33)

1

In [21]:
sum(A)

120

In [22]:
A.reverse()   # not allowed again because it is changing the indexing of value

AttributeError: 'tuple' object has no attribute 'reverse'

In [24]:
amazon_cart = [("watch", 5000),("phone", 1000),("laptop", 100000)]
                
amazon_cart
                
# whereever data integrety required or dont want to change data then we can use tuples

[('watch', 5000), ('phone', 1000), ('laptop', 100000)]

In [25]:
#slicing

amazon_cart[:-1]

[('watch', 5000), ('phone', 1000)]

In [26]:
amazon_cart[::2]

[('watch', 5000), ('laptop', 100000)]

In [27]:
amazon_cart[2::2]

[('laptop', 100000)]

In [28]:
# user input what you want to purchase

amazon_website = [("watch", 5000),("phone", 1000),("laptop", 100000)]

my_choice = input("what do you want to purchase?  :")

what do you want to purchase?  :phone

In [31]:
for item in amazon_website:
    if item[0] == my_choice:
        print(item)

('phone', 1000)

In [1]:
# on amazon website we have amazon_website = [("watch", 5000),("phone", 1000),("laptop", 100000)]

# take use input n no. of time and find out the total cost to be paid

# if item not present in amazon website then print out ot stock and do not add to total
# ask user the quantity of item

amazon_website = [("watch", 5000),("phone", 1000),("laptop", 100000)]

total_cost = 0

n = int(input("ENter of attempts"))

for i in range(n):
    user_choice = input("what do you want to purchase?  :")
    for item in amazon_website:
        if item[0] == user_choice:
            total_cost += item[1]
            print(f"Total_cost after puchasing {item[0]}  = {total_cost}")
            
        else:
            print(f"{user_choice} is out of stock")
            
            
print(f"Total cost = {total_cost}")

ENter of attempts4
what do you want to purchase?  :watch
Total_cost after puchasing watch  = 5000
watch is out of stock
watch is out of stock
what do you want to purchase?  :phone
phone is out of stock
Total_cost after puchasing phone  = 6000
phone is out of stock
what do you want to purchase?  :laptop
laptop is out of stock
laptop is out of stock
Total_cost after puchasing laptop  = 106000
what do you want to purchase?  :shirt
shirt is out of stock
shirt is out of stock
shirt is out of stock
Total cost = 106000